@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@import "./components/BannerSlide.scss";
@import "./components/Header.scss";
@import "./components/Footer.scss";
@import "./components/searchResult.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.rato-paragraph {
  font-family: "Rato, sans-serif";
  font-weight: 600; /* 폰트 두께 설정 */
  font-style: italic; /* 이탤릭체 설정 */
}

//색상
.bg-primary-subtle {
  background-color: var(--bs-tertiary-bg-rgb);
}

$gray-200: #e9ecef;

.bg-gray-200 {
  background-color: $gray-200;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  //먼지처럼 사라지기
  0% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.9);
    filter: blur(2px);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
    filter: blur(4px);
  }
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.img-darken-on-hover {
  transition: filter 0.3s ease-in-out;
}

.img-darken-on-hover:hover {
  filter: brightness(0.7);
}
