.carousel-indicators {
  margin: 0;
}

.carousel-control-next,
.carousel-control-prev {
  margin: 0;
  width: 5%;
}

.carousel-control-prev-icon {
  color: rgb(137, 78, 78);
}

.bannerSlideRowContainer {
  min-height: 13rem;
}
